* {
  box-sizing: border-box;
  /* background-color: black;
  color: white; */
}

:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.font-link {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}
.btn-box {
  display: block;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  width: 200px;
  height: 200px;
  max-width: 500px;
  background-color: #ad8762;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}



